---
layout: default
title: Home
---
<div class="container bg-white -500 text-black  p-4 justify-start sm:justify-center md:justify-end lg:justify-between xl:justify-around">

  <h1 class="page-heading text-sky-500">Artikel</h1>

  <ul class="post-list text-gray-500">
    {% for post in site.posts %}
      <li>
        <h4>
          <a class="hover:text-gray-800 underline decoration-sky-500" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} • </a><span class="post-meta text-black text-xs"> {{ post.date | date: "%b %-d, %Y" }}</span>
        </h4>
      </li>
    {% endfor %}
  </ul>
</div>
{% include footer.html %} 
