<!-- component -->
<!-- This is an example component -->
<div class="container max-w-2xl mx-auto">

	<footer class="p-4 md:flex md:items-center md:p-6 dark:bg-white-500 container">
    <span class="text-sm text-gray-900 sm:text-center dark:text-gray-400">©2024 Androcode Build With <span class="text-red-300 font-bold">Bullshit</span> By Irham
    </span>
		<ul class="flex flex-wrap items-center mt-3 sm:mt-0">
			<li>
				<a href="/about/" class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-gray-400">About</a>
			</li>
			<li>
				<a href="#" class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-gray-400">Privacy
					Policy</a>
			</li>
			<li>
				<a href="#" class="mr-4 text-sm text-gray-500 hover:underline md:mr-6
				dark:text-gray-400">Comming</a>
			</li>
			<li>
				<a href="#" class="text-sm text-gray-500 hover:underline dark:text-gray-400">Contact</a>
			</li>
		</ul>

	</footer>
</div>
