<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
   <link rel="stylesheet" href="/assets/css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="/assets/css/pygments.css">
   <link rel="stylesheet" href="/assets/css/main.css" type="text/css" media="all" />
<!--  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/preflight.min.css" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/utilities.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css" rel="stylesheet">  -->

<meta property="og:locale" content="en_US">
     <meta property="og:type" content="article">
     <meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
     <meta property="og:url" content="{{ site.url }}{{ page.url }}">
     <meta property="og:image" content="{{ site.url }}/thumbs/{{ page.image }}" />
     <meta property="og:site_name" content="WebJeda Blog">
     <meta property="article:publisher" content="http://www.facebook.com/androcodeword" />
     <meta property="article:author" content="https://www.facebook.com/androcodeword" />
     <meta property="article:published_time" content="{{ page.date }}" />
     <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
      <meta name="twitter:card" content="summary_large_image"/>
     <meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
     <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
     <meta name="twitter:site" content="@hah_irham" />
     <meta name="twitter:creator" content="@hah_irham">
     <meta name="twitter:card" content="summary">
     
     <!-- <link rel="canonical" href="{{ page.url | prepend: site.url }}"> -->
     <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/sitemap.xml" | prepend: site.baseurl | prepend: site.url }}"> -->

     <!-- Favicon-->
     <link rel="shortcut icon" href="/assets/img/ico/favicon.ico" type="image/x-icon">
     <link rel="icon" href="/assets/img/ico/favicon.ico" type="image/x-icon">
     <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/ico/apple-icon-57x57.png">
     <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/ico/apple-icon-60x60.png">
     <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/ico/apple-icon-72x72.png">
     <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
     <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/ico/apple-icon-114x114.png">
     <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/ico/apple-icon-120x120.png">
     <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/ico/apple-icon-144x144.png">
     <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/ico/apple-icon-152x152.png">
     <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/ico/apple-icon-180x180.png">
     <link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/ico/android-icon-192x192.png">
     <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/ico/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/ico/favicon-96x96.png">
     <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/ico/favicon-16x16.png">
     <link rel="manifest" href="/assets/img/ico/manifest.json">
     <meta name="msapplication-TileColor" content="#ffffff">
     <meta name="msapplication-TileImage" content="/assets/img/ico/ms-icon-144x144.png">
     <meta name="theme-color" content="#ffffff">

     

<meta name="google-site-verification" content="{{ site.google_verify }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">
<meta name="theme-color" content="#008352">
<meta name="msapplication-navbutton-color" content="#008352">
<meta name="apple-mobile-web-app-status-bar-style" content="#008352">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CFBRTF6ZLD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CFBRTF6ZLD');
</script>
<meta name="google-site-verification"
content="lDuhbLXjz5K0r-C2Zj31XlaXWPL7VRX61iarS_U2ir0" />
{% seo %}
</head>