<nav class="flex justify-center space-x-4">
  <a href="/" class="font- px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Home</a>
  <a href="https://t.me/+V5qIcUm5Dsg2N2Vl" class="font- px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Apa?</a>
  <a href="/projects" class="font- px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Projects</a>
  <a href="/reports" class="font- px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Reports</a>
</nav> 
