---
layout: compress
---
<!doctype html>
<html>
  <head>
   {% include nav.html %} 
   {% include head.html %} 
    <title>{{ page.title }}</title>
  </head>
  <body>

{{ content }}
<script id="dsq-count-scr" src="https://irha-my-id.disqus.com/count.js" async></script>)
</body> 
</html> 
