---
layout: default
---
<div class="max-w-md mx-auto md:max-w-2xl bg-white -500 text-black  p-4 ">
  <div class="text-left  sm:text-left ">
<p class="text-antialiased text-gray-400">{{ page.date | date_to_string }} • {{ page.author }} ⏰
  <span class="reading-time" title="Estimated read time">
  {% assign words = content | number_of_words %}
  {% if words < 360 %}
    1 min
  {% else %}
    {{ words | divided_by:180 }} minute read 
  {% endif %} 
 </span>
</p>
<h1 class="text-bold text-gray-700 text-2xl">{{ page.title }}</h1>
<hr>
<p class="container mx-auto px-20 p-4 subpixel-antialiased ">{{ content }}  </p>

</div> 
{% include disqus.html  %}

</div>
{% include footer.html %} 